.barra-busqueda{background-color: black; border-top: solid 4px; border-bottom: solid 4px;}
.enlace-nav:hover{background-color: red; color: white; text-decoration: none; transition: 0.7s; transform: scale(1); opacity: .8; text-transform: uppercase;}
.nav-item{
  font-size: 18px;
}
.barra-busqueda{background-color: black; border-top: solid 4px; border-bottom: solid 4px;}
