.barra-busqueda{
    background-color: black;
    border-top: solid 4px;
    border-bottom: solid 4px;
}
.dropdown-menu:hover{
    background-color: red;
}
.enlace-nav:hover{
    background-color: red;
    text-decoration: none;
    transition: 0.7s;
    transform: scale(1);
    opacity: .8;
    text-transform: uppercase;
  }
.nav-item{
    font-size: 18px;
}
.dropdown-item:hover{
  background:red !important;
  text-transform: uppercase;
}
.switch{
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
 .switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
 }
 .switch::after{
   content:"";
   display: block;
   width: 30px;
   height: 30px;
   line-height: 30px;
   position: absolute;
   background: #F1F1F1;
   right: unset;
   border-radius: 100px;
   transition: .3s ease all;
   box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
 }
.switch.active{
  background: orange;
  color: #000;
}
.switch.active::after{
  left: unset;
  right: 0;
  margin-right: 10px;
}
