.portada{
  width: 100vw;
  height: 36vh;
}

section{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-deck{
    margin-right: 0px;
}
.footer{
  background-color: black;
  border-top: solid 4px;
  border-bottom: solid 4px;
}
.img-hov:hover{
  transition: 0.7s;
  transform: scale(1.2);
}
.opciones:hover{
  background:indigo !important;
  text-transform: uppercase;
}

.w-100 {
  border-radius: 300px;
  width: 100% !important;
  border-bottom: solid 5px white;
}
#restartStats{
    place-self: center;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

#Rank1{
  font-size: 45px;
    animation: colorChangingGold 2s linear infinite alternate both;
}

#iconoRank1{
  font-size: 125px;
  animation: colorChangingGold 2s linear infinite alternate both;
}

@keyframes colorChangingGold {
  0% {
    color:  #ffff00;
  }
  50% {
    color:  #ffc600;
  }
  100% {
    color:  #daa520;
  }
}

#Rank2{
  font-size: 40px;
  animation: colorChangingPlate 2s linear infinite alternate both;
}

#iconoRank2{
  font-size: 85px;
  animation: colorChangingPlate 2s linear infinite alternate both;
}

@keyframes colorChangingPlate {
  0% {
    color: #a0a0a0;
  }
  50% {
    color: #808080;
  }
  100% {
    color: #666666;
  }
}

#Rank3{
  font-size: 35px;
  animation: colorChangingBronze 2s linear infinite alternate both;
}

#iconoRank3{
  font-size: 60px;
  animation: colorChangingBronze 2s linear infinite alternate both;
}

@keyframes colorChangingBronze {
  0% {
    color: #944b32;
  }
  50% {
    color: #763c28;
  }
  100% {
    color: #5e3020;
  }
}
