body{
  background: url(../img/bg-80.jpg) fixed center top;
  background-size: cover;
  font-family: sans-serif;
  padding-bottom: 65px;
}
summary{
  font-weight: bold;
  font-size: 24px;
}
p{
  font-size: 18px;
}
