.portada{
  width: 100vw;
  height: 36vh;
}

section{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-deck{
    margin-right: 0px;
}
.footer{
  background-color: black;
  border-top: solid 4px;
  border-bottom: solid 4px;
}
.img-hov:hover{
  transition: 0.7s;
  transform: scale(1.2);
}
