body{
  background: url(/images/fondo.jpg) fixed center top;
  background-size: cover;
  padding-bottom: 60px;
}
.login-caja input[type="text"],
.login-caja input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  height: 40px;
  font-size: 16px;
}
.login-caja a:hover{
  color: #fff;
}
.container a{
  font-size: 12px;
  font-weight: bold;
}
