body{
  background: url(/images/fondo.jpg) fixed center top;
  background-size: cover;
}
  .formulario-registro input[type="text"],
  .formulario-registro input[type="email"],
  .formulario-registro input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    height: 40px;
  }
  .formulario-registro input[type="submit"]{
      height: 40px;
      font-size: 18px;
  }
  .formulario-registro a{
    font-size: 12px;
    font-weight: bold;
  }
  strong{
    color: aqua;
    font-size: 14px;
  }

